<!DOCTYPE html>
<html>
<head>
<title>Encode & Decode</title>
  <link href="/css/style.css" rel="stylesheet"><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<br>
<center><h1><b>ENCODE & DECODE</b></h1>
 <h4>Current mode:</h4>
<div id="encode">
    <b>ENCODE</b>
    <br>
    <div style="width: 20rem; height: 2rem;">
  <input id="entext" class="form-control" type="text" style="background: none; border-radius: 10px;" placeholder="Encode Text">
    </div><br>
    <a class="btn btn-success" onclick="sub();">Output</a>
  </div>
  
  <div id="decode">

    <b>DECODE</b>

    <br>

    <div style="width: 20rem; height: 2rem;">

  <input id="dntext" class="form-control" type="number" style="background: none; border-radius: 10px;" placeholder="Decode Number">

    </div><br>

    <a class="btn btn-success" onclick="dsub();">Output</a></div>
  
  <div id="endencode">
    <b>END TO END ENCODE</b>
    <br>
    <div style="width: 20rem; height: 2rem;">
  <input id="endentext" class="form-control" type="text" style="background: none; border-radius: 10px;" placeholder="End to end Encode Text">
    </div><br>
    <a class="btn btn-success" onclick="endensub();">Output</a>
<script>
function endensub(){
  let h = document.getElementById('endentext').value;
  console.log(h);
 let data = {
   uri: h,
   hell: "yo",
   gh: "go",
   php: "php"
    };
if(h){
fetch("/en", {
       method: "POST",
       headers: {
      'Content-Type': 'application/json'
    },
       body: JSON.stringify(data)
    }).then(body => body.json()).then(body => {

if (body.success) {
$("#output").text(body.output);
} else {
alert("😅 | try later...");
}
}).catch(e => {
  console.log(e);
  alert("Server problem");
  });
} else {
alert("Enter Some World!");
}
}
</script>
</div>
  
  <div id="enddecode">
    <b>ENDTO  END DECODE</b>
    <br>
    <div style="width: 20rem; height: 2rem;">
  <input id="enddetext" class="form-control" type="text" style="background: none; border-radius: 10px;" placeholder="End to end decode Number">
    </div><br>
    <a class="btn btn-success" onclick="enddesub();">Output</a>
<script>
function enddesub(){
  let h = document.getElementById('enddetext').value;
  console.log(h);
 let data = {
   uri: h,
   hell: "yo",
   gh: "go",
   php: "php"
    };
if(h){
fetch("/en", {
       method: "POST",
       headers: {
      'Content-Type': 'application/json'
    },
       body: JSON.stringify(data)
    }).then(body => body.json()).then(body => {

if (body.success) {
$("#output").text(body.output);
} else {
alert("😅 | try later...");
}
}).catch(e => {
  console.log(e);
  alert("Server problem");
  });
} else {
alert("Enter Some World!");
}
}
</script>
</div>
  
</center>
  <br><br>
  <center>
  <div><h3>Other Options:</h3></div>
    <a class="btn btn-info" onclick="decode();" id="decode1">Decode</a>
    <a class="btn btn-info" onclick="encode();" id="encode1">Encode</a>
  <a class="btn  btn-info" onclick="endencode();" id="endencode1">End to End Encode</a>
  <a class="btn btn-info" onclick="enddecode();" id="enddecode1">End to End Decode</a>
  
  <div id="output"></div>
  </center>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/encode.js"></script>
  <script src="/js/decode.js"></script>
</body>
</html>
